extends ../node_modules/pug-bootstrap/_bootstrap

block body

  div#fb-root

    script(src='/javascripts/fbinit.js')

    .text-center

      div#spinner

      div.fb-login-button(
        data-width='300',
        data-max-rows='1',
        data-size='large',
        data-button-type='continue_with',
        data-show-faces='false',
        data-auto-logout-link='true',
        data-use-continue-as='false')