extends layout

block content

  div#fb-root

    script.
      function statusChangeCallback(response) {
        console.log('statusChangeCallback', response);
        if (response.status === 'connected') {

        }
      }

      function finishedRendering() {
        const spinner = document.querySelector('#spinner');
        spinner.removeAttribute('style');
        spinner.parentNode.removeChild(spinner);
      }

      window.fbAsyncInit = function() {
        console.log('initializing FB SDK');
        FB.init({
          appId: '152386338928593',
          cookie: true,
          xfbml: true,
          version: 'v2.12'
        });

        finishedRendering();

        FB.getLoginStatus(function(response) {
          console.log('FB SDK initialized', response);
          statusChangeCallback(response);
        });
      };

      (function(d, s, id) {
        let js;
        let fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/debug.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    .text-center

      div#spinner

      div.fb-login-button(
        data-width='300',
        data-max-rows='1',
        data-size='large',
        data-button-type='continue_with',
        data-show-faces='false',
        data-auto-logout-link='true',
        data-use-continue-as='false')

